body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}


header a:hover {
    color: rgb(255, 0, 0);
    border-radius: 20px;
    background-color: rgb(21, 228, 255);
    transition: all 1s linear;
}

nav a:hover {
    color: rgb(255, 0, 0);
    border-radius: 20px;
    background-color: rgb(21, 228, 255);
    transition: all 1s linear;
}

header {
    background-color: chocolate;
    padding: 20px;
    margin-bottom: 20px;
}

.link-nav {
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
}

.link-header {
    text-decoration: none;
    color: rgb(255, 208, 0);
    padding: 10px;
    border-radius: 10px;
}

h1:hover {
    color: blueviolet;
    text-shadow: 3px 3px 3px brown;
    transition: all 2s linear;
    font-size: 50px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

p {
    text-align: left;
}

nav a, header a {
    color:rgb(27, 11, 248);
    background-color:rgb(166, 52, 166);
}

footer {
    background-color: rgb(233, 14, 14);
    padding: 10px;
    border-radius: 10px;
}
